{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets":{
          "browsers":["> 5% in KR"]
        }
      }
    ]
  ],
  "plugins": [
    ["transform-remove-console", { "exclude": [ "error", "warn"] }]
  ]
}