* {
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    background-color: #f6f7fa;
}

:root {
    --royal-blue: #2c55dd;
    --light-blue: #377dff;
    --dark-blue: #113ac2;
    --black-pearl: #071b32;
    --black: #1a1a1a;
    --brown-grey: #989898;
    --pale-lilac: #e5e6eb;
    --white: #f9f9f9;
    --pale-grey: #f6f9fc;
}
